/* to center page title */
.page-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-trash {
    color: #eb1313;
}

.btn-trash:hover {
    color: #be0d0d;
}

.btn-edit {
    color: #504e4e;
}

.btn-edit:hover {
    color: #383636;
}
